/* Imports de fuentes */
@font-face {
    font-family: Nunito Variable;
    font-style: normal;
    font-display: swap;
    font-weight: 200 1000;
    src: url(../fonts/nunito-latin-wght-normal.WkxelaO_.woff2) format("woff2-variations");
    unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F
}
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Noto+Sans+JP:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Variables de color :3 */
:root {
    --red: #fb4934;
    --green: #b8bb26;
    --yellow: #fabd2f;
    --dark-grey: #3c3836ff;
    --light-grey: #504945ff;
    --beige: #ebdbb2;
    --blue: #83a598;
}
.red {
    color: var(--red);
}
.green {
    color: var(--green);
}
.blue {
    color: var(--blue);
}
.yellow {
    color: var(--yellow);
}
.beige {
    color: var(--beige);
}

/* No tengo organización asi que aqui va la trash */
.size-svg {
    width: 1.75rem;
    height: 1.75rem;
}

/* Global */
html {
    background-color: var(--dark-grey);
}
body {
    background-color: var(--dark-grey)!important;
}
span {
    display: inline-flex;
    transition: transform 0.1s ease;
}
span:hover {
    transform: scale(1.1);
}

/* Home y tal (?) */
#landing {
    margin-top: 5%;
    display: flex;
    height: 50vh;
    background-color: var(--dark-grey);
}
#landing-txt {
    height: 50vh;
    width: 50%;
    margin-left: 10%;
}
#landing-txt #title {
    height: 10%;
}
#landing-txt #text {
    color: var(--beige);
    font-size: 14pt;
    height: 30%;
    margin-top: 5%;
    margin-right: 10%;
    display: flex;
}
#landing-txt #about {
    height: 51.5%;
    display: flex;
    align-items: center;
}
#landing-img {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
}

/* NavBar */
.mycontainer {
    margin-left: 10% !important;
}

.bg-nav {
    background-color: var(--light-grey);
}

.navbar-dark, .navbar[data-bs-theme=dark] {
    --bs-navbar-color: var(--beige) !important;
    --bs-navbar-hover-color: #f0eadb !important;
    --bs-navbar-disabled-color: rgba(255, 255, 255, 0.25) !important;
    --bs-navbar-active-color: #f0eadb !important;
    --bs-navbar-brand-color: var(--beige) !important;
    --bs-navbar-brand-hover-color: #f0eadb !important;
    --bs-navbar-toggler-border-color: var(--beige) !important;
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

/* Piester(Footer lol) */
footer {
    position: fixed;
    bottom: 0;
    height: 10vh;
    width: 100%;
    background-color: var(--light-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-family: Nunito;
    color: var(--beige);
}

footer a {
    color: var(--beige);
}

/* Catalog */

#cats {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cat {
    display: flex;
    width: 100%;
    margin-bottom: 5%;
}

.catimg {
    margin-left: 25%;
    justify-content: center;
    width: 20%;
}

.catimg img {
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); 
}

.cattext {
    color: var(--beige);
    width: 20%;
}

.cattext p {
    font-size: 15pt;
}